In [3]:
# Read CSV file
import pandas as pd

print(pd.__version__)

2.2.2

In [4]:
import pandas as pd        # For data manipulation and analysis
import numpy as np         # For numerical operations
import csv                 # For basic CSV file operations
import matplotlib.pyplot as plt  # For data visualization

Matplotlib is building the font cache; this may take a moment.

In [4]:
# Load the dataset

df = pd.read_csv("niceguys.csv")

# display

print(df.head(5))

   number_siblings                   name     sex  age living allowance  \
0                1     Nakasujja Gertrude  female   33              NaN
1                3  Arinda Asiimwe Atweta  female   23           50,000
2                4    Ndjekornom Victoire    male   23            25000
3                0         KATURAMU EDGAR    male   27           500000
4                4      Abinsinguza Lasse    male   24        sh:100000

                  Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0            Data Scientist                          2         NaN
1  Machine Learning Enginer                          1         NaN
2            Data Scientist                          1         NaN
3  Machine Learning Enginer                          2         NaN
4            Data Scientist                          2         NaN

   do_you_have_aboyfriend/girlfriend
0                                  1
1                                  1
2                                  0
3                                  0
4                                  1

In [1]:
# Fill in the missing values 
df['living_allowance'].fillina(df['living_allowance'].median(), inplace = True)

# Drop row where living allowance clomn has a value 50000 and 1000000

df[~df['living_allowance'].isin([50000,1000000])]

NameError: name 'df' is not defined

In [3]:
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.9.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.53.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.2/162.2 kB 325.6 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in /home/cheguezulu/.local/lib/python3.12/site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3.12/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /usr/lib64/python3.12/site-packages (from matplotlib) (10.3.0)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3.12/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 153.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Downloading contourpy-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (309 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.2/309.2 kB 989.9 kB/s eta 0:00:00 eta 0:00:010:01:01
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 2.0 MB/s eta 0:00:00m eta 0:00:010:01:01
Downloading kiwisolver-1.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.4 MB/s eta 0:00:00m eta 0:00:010:01:01
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 420.9 kB/s eta 0:00:00m eta 0:00:01
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 kiwisolver-1.4.5 matplotlib-3.9.0 pyparsing-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
libraries = [
    'pandas', 'numpy', 'matplotlib.pyplot', 'seaborn', 'plotly.express', 'altair',
    'sklearn', 'statsmodels.api', 'tensorflow', 'keras', 'torch', 'scipy', 'sympy',
    'skimage.io', 'bs4', 'PIL', 'nltk', 'spacy', 'gensim', 'openpyxl', 'requests',
    'sqlalchemy', 'pyodbc'
]

for lib in libraries:
    try:
        exec(f"import {lib}")
        print(f"{lib} is installed.")
    except ModuleNotFoundError as e:
        print(f"{lib} is NOT installed: {e}")
    except ImportError as e:
        print(f"An import error occurred for {lib}: {e}")

pandas is installed.
numpy is installed.
matplotlib.pyplot is installed.
seaborn is NOT installed: No module named 'seaborn'
plotly.express is NOT installed: No module named 'plotly'
altair is NOT installed: No module named 'altair'
sklearn is NOT installed: No module named 'sklearn'
statsmodels.api is NOT installed: No module named 'statsmodels'
tensorflow is NOT installed: No module named 'tensorflow'
keras is NOT installed: No module named 'keras'
torch is NOT installed: No module named 'torch'
scipy is NOT installed: No module named 'scipy'
sympy is NOT installed: No module named 'sympy'
skimage.io is NOT installed: No module named 'skimage'
bs4 is installed.
PIL is installed.
nltk is NOT installed: No module named 'nltk'
spacy is NOT installed: No module named 'spacy'
gensim is NOT installed: No module named 'gensim'
openpyxl is NOT installed: No module named 'openpyxl'
requests is installed.
sqlalchemy is NOT installed: No module named 'sqlalchemy'
pyodbc is NOT installed: No module named 'pyodbc'