In [17]:
# DATA CLEANING
# Read the csv file given 
import pandas as pd
data = pd.read_csv("bse_data.csv")
print(data.to_string())

    number_siblings                       name  gender  age living_allowance  have_bf_gf                profession  daily_meals
0                 1         Nakasujja Gertrude  female   33              NaN           1            Data Scientist            2
1                 3      Arinda Asiimwe Atweta  female   23           50,000           1  Machine Learning Enginer            1
2                 4        Ndjekornom Victoire    male   23           25,000           0            Data Scientist            1
3                 0             KATURAMU EDGAR    male   27          500,000           0  Machine Learning Enginer            2
4                 4          Abinsinguza Lasse    male   24          100,000           1            Data Scientist            2
5                 4        Beingana Jim Junior    male   20           10,000           0            Data Scientist            3
6                 6   Cyiza Ndoli Jean de Dieu    male   23           60,000           0              Data Analyst            2
7                 8        MUSIIMENTA CISSYLYN  female   20          260,000           0  Machine Learning Enginer            3
8                 2           Nakanwagu Vanesa  female   23          250,000           1            Data Scientist            3
9                 9                Otim Ronald    male   25              NaN           0            Data Scientist            2
10                1                  Levi Aine    male   24        1,000,000           0            Data Scientist            3
11                1              NASAAZI TAKIA  female   23            2,000           0              Data Analyst            1
12                5                      Alvin    male   23        2,500,000           1  Machine Learning Enginer            3
13                3            MULINDWA YUSUF     male   22              NaN           0            Data Scientist            3
14                2                     Hillal    male   32          150,000           0  Machine Learning Enginer            2
15                9           mpairwe   lauben    male   26          760,000           1  Machine Learning Enginer            3
16                4               Lutalo Allan    male   24          200,000           1            Data Scientist            3
17                2                Efrata Aron  female   22          200,000           1              Data Analyst            2
18                4                David Hope     male   22           35,000           0  Machine Learning Enginer            3
19                1             ntegeka k pius    male   30          700,000           0            Data Scientist            3
20                4            Yapyeko Rebecca  female   24          500,000           0            Data Scientist            3
21                7      NKETAMUKAMA TARASISIO    male   22          600,000           0  Machine Learning Enginer            2
22                3    Ampaire Stacey Nuwagaba  female   22          300,000           0              Data Analyst            2
23                5            Ahaabwe Derrick    male   22          200,000           0            Data Scientist            2
24                0           Ssentongo Henry     male   27              NaN           0  Machine Learning Enginer            1
25                6                     Shadia  female   23           20,000           0            Data Scientist            2
26                4                     Harlan    male   24          250,000           0            Data Scientist            3
27                1              AMADILE MAJID    male   23              NaN           0              Data Analyst            2
28                8                Nankya Elsa  female   23          120,000           1            Data Scientist            2
29                2         Asiimire Patricia   female   22        1,000,000           0            Data Scientist            3
30                2           Rwakasiisi Edwin    male   24          150,000           1            Data Scientist            3
31                5            Ampumuza Aijuka  female   23          500,000           0            Data Scientist            2
32                5         TUKWASIIBWE MARTIN    male   23          200,000           0              Data Analyst            2
33                8       Olowo Omondi Philly     male   23              NaN           1            Data Scientist            2
34                4  Kisembo Rodgers Bangirana    male   23          300,000           0              Data Analyst            3
35                3           NIWAMANYA JAMES     male   29              NaN           1  Machine Learning Enginer            1

In [ ]:
# Data preprocessing
# Deal with the following
# 1. Wrong data
# 2. duplicates
# 3. Wrong format
# 4. Empty cell 
# Then after doing this, you do data exploratory analysis

In [3]:
# Check for the duplicates in the data
import pandas as pd
df = pd.read_csv("bse_data.csv")
print(df.duplicated().sum())

# To check the number of duplicates u can use 
# print(df.duplicated().sum())

0

In [4]:
# Check for empty cell
print(df.isnull().sum())

number_siblings     0
name                0
gender              0
age                 0
living_allowance    7
have_bf_gf          0
profession          0
daily_meals         0
dtype: int64

In [20]:

# x = df["living_allowance"].mean()
df["living_allowance"].fillna(67800,inplace = True)
# print(data.to_string())

    number_siblings                       name  gender  age living_allowance  have_bf_gf                profession  daily_meals
0                 1         Nakasujja Gertrude  female   33              NaN           1            Data Scientist            2
1                 3      Arinda Asiimwe Atweta  female   23           50,000           1  Machine Learning Enginer            1
2                 4        Ndjekornom Victoire    male   23           25,000           0            Data Scientist            1
3                 0             KATURAMU EDGAR    male   27          500,000           0  Machine Learning Enginer            2
4                 4          Abinsinguza Lasse    male   24          100,000           1            Data Scientist            2
5                 4        Beingana Jim Junior    male   20           10,000           0            Data Scientist            3
6                 6   Cyiza Ndoli Jean de Dieu    male   23           60,000           0              Data Analyst            2
7                 8        MUSIIMENTA CISSYLYN  female   20          260,000           0  Machine Learning Enginer            3
8                 2           Nakanwagu Vanesa  female   23          250,000           1            Data Scientist            3
9                 9                Otim Ronald    male   25              NaN           0            Data Scientist            2
10                1                  Levi Aine    male   24        1,000,000           0            Data Scientist            3
11                1              NASAAZI TAKIA  female   23            2,000           0              Data Analyst            1
12                5                      Alvin    male   23        2,500,000           1  Machine Learning Enginer            3
13                3            MULINDWA YUSUF     male   22              NaN           0            Data Scientist            3
14                2                     Hillal    male   32          150,000           0  Machine Learning Enginer            2
15                9           mpairwe   lauben    male   26          760,000           1  Machine Learning Enginer            3
16                4               Lutalo Allan    male   24          200,000           1            Data Scientist            3
17                2                Efrata Aron  female   22          200,000           1              Data Analyst            2
18                4                David Hope     male   22           35,000           0  Machine Learning Enginer            3
19                1             ntegeka k pius    male   30          700,000           0            Data Scientist            3
20                4            Yapyeko Rebecca  female   24          500,000           0            Data Scientist            3
21                7      NKETAMUKAMA TARASISIO    male   22          600,000           0  Machine Learning Enginer            2
22                3    Ampaire Stacey Nuwagaba  female   22          300,000           0              Data Analyst            2
23                5            Ahaabwe Derrick    male   22          200,000           0            Data Scientist            2
24                0           Ssentongo Henry     male   27              NaN           0  Machine Learning Enginer            1
25                6                     Shadia  female   23           20,000           0            Data Scientist            2
26                4                     Harlan    male   24          250,000           0            Data Scientist            3
27                1              AMADILE MAJID    male   23              NaN           0              Data Analyst            2
28                8                Nankya Elsa  female   23          120,000           1            Data Scientist            2
29                2         Asiimire Patricia   female   22        1,000,000           0            Data Scientist            3
30                2           Rwakasiisi Edwin    male   24          150,000           1            Data Scientist            3
31                5            Ampumuza Aijuka  female   23          500,000           0            Data Scientist            2
32                5         TUKWASIIBWE MARTIN    male   23          200,000           0              Data Analyst            2
33                8       Olowo Omondi Philly     male   23              NaN           1            Data Scientist            2
34                4  Kisembo Rodgers Bangirana    male   23          300,000           0              Data Analyst            3
35                3           NIWAMANYA JAMES     male   29              NaN           1  Machine Learning Enginer            1

In [ ]:
# EXPLORATORY DATA ANALYSIS NOW

In [6]:
# Statistics
print(df.describe())

       number_siblings        age  have_bf_gf  daily_meals
count        36.000000  36.000000   36.000000    36.000000
mean          3.888889  24.055556    0.333333     2.277778
std           2.504599   2.936903    0.478091     0.701472
min           0.000000  20.000000    0.000000     1.000000
25%           2.000000  22.750000    0.000000     2.000000
50%           4.000000  23.000000    0.000000     2.000000
75%           5.000000  24.000000    1.000000     3.000000
max           9.000000  33.000000    1.000000     3.000000

In [7]:
print(df["have_bf_gf"].value_counts())

0    24
1    12
Name: have_bf_gf, dtype: int64

In [8]:
print(df["gender"].value_counts())

male      24
female    12
Name: gender, dtype: int64

In [8]:
# DATA VISUALIZATION
import seaborn as sns
import matplotlib.pyplot as plt

# have a bf rate by gender 
sns.barplot(x = 'gender', y = 'have_bf_gf', data = df)
plt.title('have bf &gf Rate by Gender')
plt.show()

# Age distribution
sns.histplot(df['age'], bins = 30, kde = True)
plt.title('Age Distribution')
plt.show()

# Gender 
sns.histplot(df['gender'], bins = 30, kde = True)
plt.title('Age Distribution')
plt.show()

# Scatter
df.plot(kind = 'scatter', x = 'gender', y = 'age')
plt.show()

ModuleNotFoundError: No module named 'seaborn'